

* {
    margin: 0;
    padding: 0;
}
/*body {
    margin: 0;
}*/

/*--fontstyle--*/
h1, h2, nav {
    font-family: 'Oswald', sans-serif;
}
h3, h4, h5, p {
    font-family: 'Lato', sans-serif;
}
h1 {
    font-size: 20px;
}
h2 {
    font-size: 18px;
}
h3 {
    font-size: 16px;
}
h4, p {
    font-size: 14px;
}

/*--colors--*/
:root {
    --black: #000;
    --blackgreen: #031F19;
    --green: #00FF01;
    --grey: #C2BEBB;
    --pink: #FBDEDA;
    --purple: #A5199C;
    --darkgreen: #057316;
}

/*--headerstyle--*/
header {
    background-color: var(--blackgreen);
    width: 100%;
    display: flex;
    justify-content: space-between;
    /*align-items: baseline;*/
    align-items: flex-end;
}
.arrow {
    margin-left: 5px;
    color: var(--green);
}
.logo {
    width: 400px;
}

/*nav {
    background-color: none;
}
nav ul {
    padding: 10px;
    padding-bottom: 0;
    list-style: none;
    display: flex;
}
nav ul li {
    font-size: 16px;
    padding-right: 10px;
    position: relative;
}
nav ul li a {
    text-decoration: none;
    color: var(--green);
}*/


nav ul li a {
    text-decoration: none;
    color: var(--green);
    font-size: 14px;
}
nav ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
ul li {
    color: var(--green);
    display: block;
    float: left;
    padding: 0.5rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
}
ul li:hover {
    cursor: pointer;
}
ul li ul {
    background-color: #000;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 0.5rem;
    left: 0;
    display: none;
}
ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}
ul li ul li {
    clear: both;
    width: 100%;
}
/*ul li ul:active {
    display: flex;
    flex-direction: column;
}*/


.search {
    background-color: var(--green);
    border-radius: 5px;
    margin-right: 10px;
    padding: 5px;
    display: flex;
}
.input {
    width: 200px;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
.fas {
    padding: 5px;
}

/*--mainstyle index--*/
main {
    background-color: var(--grey);
}
main a {
    text-decoration: none;
    color: var(--green);
}
.banner {
    width: 100%;
}
.virtual_tour {
    width: 500px;
    position: relative;
}
.main_image {
    width: 500px;
}
.virtual {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.info_image {
    width: 300px;
}

.btn {
    background-color: var(--blackgreen);
    color: var(--green);
    border: none;
    border-radius: 5px;
    padding: 10px;
}
.intro {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.intro_text {
    background-color: var(--pink);
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}
.title {
    align-self: center;
    padding-bottom: 10px;
}
.main_events {
    /*margin-top: 20px;*/
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.spec_events {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.events {
    width: 300px;
    display: flex;
    flex-direction: column;
}
.event_title {
    align-self: center;
    margin-bottom: 5px;
}
.event_text {
    margin-top: 5px;
}
.main_kids {
    margin-top: 20px;
    background-color: var(--pink);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.intro_kids {
    display: flex;
}
.text_kids {
    width: 400px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title_kids {
    padding-bottom: 10px;
}
.kids_btn {
    margin-top: 50px;
}
.main_links {
    width: 100%;
    margin-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
}
.intro_links {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.links {
    color: var(--darkgreen);
    text-decoration: underline;
}
/*--mainstyle kids--*/
.game_section {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.game {
    position: relative;
}
.game_image {
    width: 500px;
}
.game_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*--mainstyle about/researchers/teachers--*/

.main_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_title {
    background-color: var(--pink);
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.main_info {
    padding: 20px;
    display: flex;
}
.main_text {
    width: 300px;
    padding-left: 20px;
    align-self: center;
}
.contact_btn {
    margin-top: 50px;
}

/*--mainstyle exhibition--*/
.exhibition_nav {
    display: flex;
    justify-content: space-around;
}
.ex_nav {
    color: var(--blackgreen);
}
.card_wrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card_layout {
    background-color: var(--pink);
    margin: 20px;
    width: 900px;
    display: flex;
    align-items: center;
}
.card_title {
    padding-bottom: 10px;
}
.card_text {
    width: 400px;
    padding-left: 20px;
    padding-right: 20px;
}

/*--mainstyle contact--*/
.contact_layout {
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
.contact_info {
    width: 600px;
    /*margin: 20px;*/
    background-color: #fff;
    display: flex;
    align-items: center;
}
.contact_text {
    width: 200px;
    padding-left: 20px;
    padding-right: 20px;
}
/*.contact_wrapper {
    display: flex;
    flex-direction: column;
}*/

.form {
    background-color: #fff;
    margin-top: 20px;
    width: 600px;
    /*margin: 20px;*/
    display: flex;
    flex-direction: column;
}
.contact_btn {
    align-self: center;
}
.form_sec {
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.form_input {
    width: 250px;
    padding: 5px;
}

.visit_info {
    width: 300px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.visit_text {
    display: flex;
    flex-direction: column;
}
.visit_title {
    align-self: center;
}
.text_area {
    resize: none;
}

/*--footerstyle--*/
footer {
    background-color: var(--pink);
    display: flex;
    justify-content: space-evenly;
}
.footer_contact {
    margin-top: 20px;
    padding-bottom: 20px;
    display: flex;
}
.footer_info {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
.footer_text {
    padding-bottom: 10px;
}
.update {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signup{
    background-color: var(--green);
    border-radius: 5px;
    margin-right: 10px;
    padding: 5px;
    margin-top: 5px;
}
.footer_icons {
    margin-top: 5px;
}
